<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top auto-link-navbar">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center gap-2" do %>
      <%= image_tag "AutoLink_Logo.png", alt: "AutoLink", height: 36, class: "d-inline-block auto-link-logo" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to cars_path, class: 'nav-link d-flex align-items-center gap-1 fw-semibold' do %>
            <i class="bi bi-car-front-fill"></i> <%= t('.cars') %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to root_path, class: 'nav-link d-flex align-items-center gap-1 fw-semibold' do %>
            <i class="bi bi-1-circle"></i></i> Test
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to root_path, class: 'nav-link d-flex align-items-center gap-1 fw-semibold' do %>
            <i class="bi bi-2-circle"></i></i> Test
          <% end %>
        </li>
      </ul>

      <ul class="navbar-nav align-items-center gap-2">
        <li class="nav-item dropdown">
          <%= render 'shared/language_button' %>
        </li>

        <li class="nav-item dropdown">
          <%= render 'shared/contact_us_button' %>
        </li>
      </ul>
    </div>
  </div>
</nav>